h1 {
  background-color: #9aa79a;
  border-radius: 8px;
  padding: 5px;
}
h2 {
  background-color: #9aa79a;
  border-radius: 8px;
  padding: 5px;
}

.main-heading_img 
{
}



.navigation {
  font-size: 20px;
  background: #1e1f1e;
  padding: 16px;
  border: solid black 3px;
  width: 80%;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}
.navigation_link--about
{
border: red solid;
text-align: right;
float: right;
}
.navigation__link {
  color: white;
  display: inline-block;
  margin-right: 20px;
  text-decoration: none;
  padding: 3px;
}
.navigation__link--homepage {
  background: #6b866b;
  color: whitesmoke;
  border-radius: 8px;
}
.week-summary {
  padding: 16px;
  border: 1px silver solid;
  margin-bottom: 15px;
}
.week-summary__title {
  padding: 16px;
  color: brown;
  border-right: solid rgb(87, 87, 87) 3px;
  border-radius: 10px;
  background: #bccebc;
}
.week-summary__title--special {
  background: #bccebc;
}
.week-summary__footer {
  background: #395539;
  border-radius: 8px;
  padding: 10px;
  border: 3px solid black;
}
.week-summary__footer-back {
  text-decoration: none;
  color: darkred;
}
.week-summary__note {
  text-decoration: none;
  color: darkred;
}
.week-summary__who-description {
  padding: 10px;
  font-size: large;
}
main {
  margin: 0 auto;
  width: 65%;
}
